<mat-card>
  <mat-card-header>
    <mat-card-title>ToDo App</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Atividade</mat-label>
      <input matInput placeholder="Adicione uma tarefa" [value]="tarefa" (change)="onChangeInput($event)">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="adiciona()">+</button>
    <div *ngFor="let item of itens; let i=index;">
      <p>{{ item }}</p>
      <button mat-raised-button color="warn" (click)="remove(i)">-</button>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div>
      Você tem {{ itens.length }} tarefas pendentes
    </div>
    <button mat-raised-button color="primary" (click)="limparToDo()">Limpar tudo</button>
  </mat-card-footer>
</mat-card>